body:has(.page) {
  padding: 0;
  margin: 0;
}
.page {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .page * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.layout {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  margin: 40px 10px;
  display: inline;
}
.title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: quantity;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: -35px;
}
.list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: initial;
  padding: 30px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid #888;
  box-shadow: 0px 3px 0 #888;
}
.list .li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 6px;
  transition: 0.5s;
  padding: 3px;
  /* display: flex; */
  position: relative;
}
.list .li .element {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 6px;
  /* display: flex; */
}
.list .li .cover {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.list .li > .element > .elementLine {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 2.5px;
  border-radius: 6px;
  transition: 0.3s;
}
.list .li:hover > .element > .elementLine {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
  border-color: #000;
}

.list .li:last-child {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}
