.infomation {
  position: fixed;
  bottom: -100%;
  width: 500px;
  border: 1px solid #262626;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 99;
  padding: 20px;
  background-color: #252526;
  max-height: 100vh;
  box-sizing: border-box;
}
.infomation.display {
  bottom: 0;
  margin: initial;
  box-sizing: border-box;
}

.name {
  font-family: Quantico;
  font-size: 30px;
  font-weight: 700;
  color: #dcdcaa;
  margin: initial;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.title {
  font-family: Quantico;
}

.elements {
  background-color: #e2e2e2;
  padding: 10px;
  margin: 2.5px 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.lists {
}
.lists h2 {
  border: 1px solid var(--gray800);
  padding: 0 5px 5px 5px;
  color: #569cd6;
  margin: initial;
  box-sizing: border-box;
}

.lists ul {
  border-bottom: 1px solid #d4d4d4;
  background-color: #21262d;
  padding: initial;
  margin: initial;
  box-sizing: border-box;
}
.lists ul li {
  display: flex;
  padding: 2.5px;
  border-bottom: 1px solid #d4d4d4;
  margin: initial;
  box-sizing: border-box;
}
.lists ul li:last-child {
  border-bottom: 0;
}
.lists ul li.noProps {
  /* padding: 10px; */
}
.noProps p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 20px;
  text-align: cetner;
  font-weight: 700;
}
.key {
  font-size: 20px;
  margin: initial;
  margin-right: 15px;
  color: #9cdcfe;
  box-sizing: border-box;
}
.value {
  font-size: 18px;
  color: #4ec9b0;
  line-height: 1.5em;
  margin: initial;
  box-sizing: border-box;
}
.ob {
  color: rgb(255, 186, 83);
  display: flex;
  align-items: center;
  margin: initial;
  box-sizing: border-box;
}
.ob span:first-child {
  margin-left: 5px;
}
.ob span:last-child {
  margin-right: 5px;
}

.closeBtn {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: initial;
  box-sizing: border-box;
}

.closeBtn:hover::after,
.closeBtn:hover::before {
  width: 85%;
  height: 3px;
  background-color: #4ec9b0;
}

.closeBtn::after,
.closeBtn::before {
  content: "";
  display: block;
  transition: 0.2s;
  border-radius: 5px;
  width: 80%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
}

.closeBtn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.closeBtn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
