.codeBtn {
  --border: 2px;
  text-decoration: none;
  color: #333;
  background-color: #eee;
  width: 35px;
  height: 28px;
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  top: 10px;
  right: 50px;
  transition: 0.5s;
  border: var(--border) solid transparent;
}

.codeBtn:hover {
  font-weight: 700;
  width: 45px;
  font-size: 1.1em;
  color: var(--title);
  background-color: #fff;
  border: var(--border) solid var(--props);
}

.codeBtn:hover img {
  width: 26px;
}
