.displayName {
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  border: 3px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.displayName > p {
  line-height: 1.5em;
  margin: initial;
  padding: 0;
  padding-top: 5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  color: #4ec9b0;
}
.displayName .img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: initial;
  box-sizing: border-box;
}
.displayName:hover {
  background-color: #000;
  border: 3px solid #4ec9b0;
}
.displayName:hover img {
  transform: translateY(-50%) scale(1.2);
  margin: initial;
  box-sizing: border-box;
}
